In [15]:
import os
import pandas as pd
import numpy as np
import warnings
import scipy as sp 
pd.options.display.max_columns

warnings.filterwarnings("always")
warnings.filterwarnings("ignore")

from sklearn.metrics.pairwise import cosine_similarity

In [16]:
for dirname , _ , filenames in os.walk("C:\\Users\\udit hasija\\Downloads\\archive (1)"):
    for filename in filenames:
        print(os.path.join(dirname ,filename))

C:\Users\udit hasija\Downloads\archive (1)\anime.csv
C:\Users\udit hasija\Downloads\archive (1)\rating.csv

In [17]:
anime_data = pd.read_csv('C:\\Users\\udit hasija\\Downloads\\archive (1)\\anime.csv')
rating_data = pd.read_csv('C:\\Users\\udit hasija\\Downloads\\archive (1)\\rating.csv')

In [18]:
anime_data.head()

,anime_id,name,genre,type,episodes,rating,Synopsis
0,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26.0,8.78,"In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,"Action, Drama, Mystery, Sci-Fi, Space",Movie,1.0,8.39,"other day, another bounty—such is the life of ..."
2,6,Trigun,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",TV,26.0,8.24,"Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,"Action, Mystery, Police, Supernatural, Drama, ...",TV,26.0,7.27,ches are individuals with special powers like ...
4,8,Bouken Ou Beet,"Adventure, Fantasy, Shounen, Supernatural",TV,52.0,6.98,It is the dark century and the people are suff...

In [19]:
rating_data.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

In [20]:
print("Shape of anime data is: " + str(anime_data.shape))
print(anime_data.info())

Shape of anime data is: (17562, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17562 entries, 0 to 17561
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  17562 non-null  int64
 1   name      17562 non-null  object
 2   genre     17562 non-null  object
 3   type      17562 non-null  object
 4   episodes  17046 non-null  float64
 5   rating    12421 non-null  float64
 6   Synopsis  16214 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 960.6+ KB
None

In [21]:
print("shape of rating data is: "+ str(rating_data.shape))
print(rating_data.info())

shape of rating data is: (1048575, 3)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   user_id   1048575 non-null  int64
 1   anime_id  1048575 non-null  int64
 2   rating    1048575 non-null  int64
dtypes: int64(3)
memory usage: 24.0 MB
None

In [22]:
print('Missing values % in anime data are: \n')
print(round(anime_data.isnull().sum().sort_values(ascending= False)/len(anime_data.index),4)*100)

Missing values % in anime data are:

rating      29.27
Synopsis     7.68
episodes     2.94
anime_id     0.00
name         0.00
genre        0.00
type         0.00
dtype: float64

In [23]:
print('Missing values % in Rating data are: \n')
print(round(rating_data.isnull().sum().sort_values(ascending= False)/len(rating_data.index),4)*100)

Missing values % in Rating data are:

user_id     0.0
anime_id    0.0
rating      0.0
dtype: float64

In [24]:
print(anime_data['genre'].mode())
print(anime_data['type'].mode())

0    Hentai
Name: genre, dtype: object
0    TV
Name: type, dtype: object

In [25]:
anime_data = anime_data[~np.isnan(anime_data['rating'])]
anime_data['genre'] = anime_data['genre'].fillna(anime_data['genre'].dropna().mode().values[0])
anime_data['type'] = anime_data['type'].fillna(anime_data['type'].dropna().mode().values[0])

In [26]:
anime_data.isnull().sum()

anime_id       0
name           0
genre          0
type           0
episodes     105
rating         0
Synopsis    1126
dtype: int64

In [27]:
import re
def text_cleaning(text):
    text = re.sub(r'&quot;', '', text)
    text = re.sub(r'.hack//', '', text)
    text = re.sub(r'&#039;', '', text)
    text = re.sub(r'A&#039;s', '', text)
    text = re.sub(r'I&#039;', 'I\'', text)
    text = re.sub(r'&amp;', 'and', text)
    
    return text

anime_data['name'] = anime_data['name'].apply(text_cleaning)

# Engineering

In [28]:
rating_data['rating'] = rating_data['rating'].apply(lambda x: np.nan if x==-1 else x)
rating_data.head(20)

    user_id  anime_id  rating
0         0       430       9
1         0      1004       5
2         0      3010       7
3         0       570       7
4         0      2762       9
5         0       431       8
6         0       578      10
7         0       433       6
8         0      1571      10
9         0       121       9
10        0       356       9
11        0      1250       7
12        0      2913       6
13        0      1689       6
14        0        68       6
15        0      1829       7
16        0       600       6
17        0      3418       9
18        0       164       8
19        0      1894       7

In [29]:
atype = input('Enter Your genre')
anime_data = anime_data[anime_data['type']==atype]
anime_full = pd.merge(anime_data , rating_data , on = 'anime_id')
anime_full = anime_full.rename(columns= {'rating_x': 'rating' , 'rating_y':'user_rating'})
anime_full = anime_full[['user_id', 'name', 'user_rating']]
anime_7500= anime_full[anime_full.user_id <= 7500]
anime_7500.head()

   user_id          name  user_rating
0        3  Cowboy Bebop            9
1        6  Cowboy Bebop            6
2       14  Cowboy Bebop            9
3       19  Cowboy Bebop            8
4       22  Cowboy Bebop            9

In [30]:

pivot = anime_7500.pivot_table(index=['user_id'], columns=['name'], values='user_rating')
pivot_n = pivot.apply(lambda x: (x-np.mean(x))/(np.max(x)-np.min(x)), axis=1)
pivot_n.fillna(0 , inplace= True)
pivot_n = pivot_n.T
pivot_n = pivot_n.loc[:, (pivot_n != 0).any(axis=0)]
piv_sparse = sp.sparse.csr_matrix(pivot_n.values)

In [31]:

anime_similarity = cosine_similarity(piv_sparse)
ani_sim_df = pd.DataFrame(anime_similarity, index = pivot_n.index, columns = pivot_n.index)

In [44]:
def anime_recommendation(ani_name):
    number = 1
    no = input("Enter No. of Recommendations you want")
    print('Recommended because you watched ' + str(ani_name))
    for anime in ani_sim_df.sort_values(by = ani_name, ascending = False).index[1:(int(no) +1 )]:
        print(f'{number}: {anime}')
        number +=1

In [45]:
anime = input("enter Your anime")
anime_recommendation(anime)

Recommended because you watched Naruto
1: Naruto: Shippuuden
2: Bleach
3: Dragon Ball Z
4: InuYasha
5: The Last: Naruto the Movie
6: Dragon Ball
7: Shaman King
8: Dragon Ball Kai (2014)
9: Yu☆Gi☆Oh! Duel Monsters
10: Slam Dunk